/*Colores
#AD7C5A marron
#8B8073 mas oscuro
#CCC4B7
#C8BDB1
#B5AB9F
#DED0B8 mas cremita
#C7BBAF
#E7E2D7 mas claro
*/


@media only screen and (min-width:900px){
    .section3__texto{
        width: 30rem;
    }
}
@mixin tamanio ($alto, $ancho) {
    height: $alto;
    width: $ancho;
}
html{
    margin: 0;
}
body{
    font-family: 'Rye', cursive;
    margin: 0;
    padding:0;
    background-color: #D9D0C3;
}

/*Nav*/
header{
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    height: 9rem;
}
.header{
    display: grid;
    grid-template-areas:
        'logo menu botones'
        'logo buscador botones';
    grid-template-columns: 2fr 7fr 2fr;
    background-color: #E7E2D7;
    height: 9rem;
}
.nocturno1{
    background-color: #BFBFBF;
}
.logo{
    @include tamanio(9rem, 9rem);
    grid-area: logo;
}
#menu-barra-input{
    display: none;
}
#menu-celular{
    display: none;
}

.botones{
    grid-area: botones;
    display: grid;
    width: 100%;
}
.Buscador{
    grid-area: buscador;
    padding-top: 1.8rem;
}
.buscador{
    display: flex;
}
.nav-link{
    color: black;
}

/*USUARIO*/
#iniciarSesion{
    width: 9rem;
}
.Lista_Menu{
    display: none;
    li{
        border-color: black ;
        border-style: groove;
        display: block;
        color: white;
        background-color:#8B8073;
        width: 10rem;
        margin: 0;
        padding: 10px;
        position: relative;
        z-index: 3;
        a{
            text-decoration: none;
            color: white;
        }
    }
    li:hover{
        background-color: grey;
    }
}
.imagenUsuario{
    @include tamanio(4rem, 4rem);
}
#menu_input{
    display: none;
}
#menu_input:checked ~ ul {
    display: block;
}
label{
    align-self: center;
    justify-self: center;
}

/*Pagar*/
.mainPagar{
    margin-top: 10rem;
}

/*Main*/
.section1{
    display: flex;
    background-color: #dbd7c4;
    margin-top:10px;
    margin-bottom: 5rem;
    box-shadow: 0rem 2rem 1rem 1rem rgba(0,0,0,0.5 );
}
.section1__imagen{
    width: 17rem;
    height: 7rem;
    margin-top: 12rem;
}
.luces{
    width: 15rem;
    height: 10rem;
}
.main2{
    display: flex;
}
.imagenMain{
    @include tamanio(20rem, 20rem);
    margin-left: 15rem;
}
.nocturno2{
    background-color: #88898C;
}
.galeria{
    margin-left: 20rem;
    display: grid;
    grid-template-rows: 500px 100px;
    grid-template-columns: 1fr 30px 30px 30px 30px 30px 1fr;
    align-items: center;
    justify-items: center;
}
//CARRITO
.imgCarrito{
    @include tamanio(100%, 100%);
}
.divBtnComprar{
    display: flex;
    align-self: flex-end;
    padding-bottom: 3rem;
}
.comprarBTN{
    margin-left: 7rem;
}
.envioCarrito{
    font-size: smaller;
}
.envio{
    display: flex;
}
.imagenLibroSeleccionado{
    @include tamanio(100%, 100%);
}
.buscador__boton{
    color: black;
    border-color: black;
}
.divCarrito{
    position: fixed;
    right: 1rem;
    top: 39rem;
    z-index: 99;
}
.carrito{
    @include tamanio(5rem, 5rem);

    background-color: transparent;
    border-color: black;
}
.productosCarrito{
    background-color: #B5AB9F;
    display:none;
    position: absolute;
    width: 40rem;
    height: 30rem;
    bottom: 5rem;
    right: 1rem;
    overflow: overlay;
}
.divBtnComprar{
    display: none;
}
#separador{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.divJava{
    background-color: #B5AB9F;
    display: flex;
    width: 35rem;
    height: 12rem;
    color: #000;
}
hr{
    color: black;
}
.lugarCiudad{
    display: none;
}
#cantidadLibros{
    width: 2rem;
}
.precios{
    grid-template-areas: 'precioFinal    pagarBitCoins'
                         'precioCEnvio   pagarBitCoins';
}
.precioFinal{
    background-color: white;
    grid-area: precioFinal;
}
#precioCEnvio{
    background-color: white;
    grid-area: precioCEnvio; 
}
.mainPagar{
    grid-area: pagarBitCoins; 
}
.volverElemento{
    display: none;
}
.imagenListada{
    object-fit: cover;
}
.h2Java{
    font-size: 1.5rem;
}
.Banderas{
    align-items: stretch;
    justify-content: center;
    display: grid;
    grid-template-columns: 18% 18% 18% 18% 18%;
}
.Banderas__Argentina{
    width: 100%;
    height: 100%;
}
.Banderas__Argentina:hover{
    -webkit-transform:scale(1.25);
    -moz-transform:scale(1.25);
    -ms-transform:scale(1.25);
    -o-transform:scale(1.25);
    transform:scale(1.25);
}
.Banderas__Espania{
    @include tamanio(100%, 100%)
}
.Banderas__Espania:hover{
    -webkit-transform:scale(1.25);
    -moz-transform:scale(1.25);
    -ms-transform:scale(1.25);
    -o-transform:scale(1.25);
    transform:scale(1.25);
}
.policial{
    @include tamanio(100%, 100%)
}
.policial:hover{
    -webkit-transform:scale(1.25);
    -moz-transform:scale(1.25);
    -ms-transform:scale(1.25);
    -o-transform:scale(1.25);
    transform:scale(1.25);
}
.Banderas__Chile{
    @include tamanio(100%, 100%)
}
.Banderas__Chile:hover{
    -webkit-transform:scale(1.25);
    -moz-transform:scale(1.25);
    -ms-transform:scale(1.25);
    -o-transform:scale(1.25);
    transform:scale(1.25);
}
.Banderas__Mexico{
    @include tamanio(100%, 100%)
}
.Banderas__Mexico:hover{
    -webkit-transform:scale(1.25);
    -moz-transform:scale(1.25);
    -ms-transform:scale(1.25);
    -o-transform:scale(1.25);
    transform:scale(1.25);
}

.card{
  width: 10rem;
  height: 20rem;
}
.card::after {
  content:'';
  position: absolute;
  left: 0;
  top: 0;
  background-image: linear-gradient(to right top, #636363, #a2ab58) ;
  z-index: -1;
  width: 100%;
  height: 100%;
  filter: blur(10px);
}
.section3{
    display: grid;
    grid-template-columns: 6fr 6fr;
}
.nocturno3{
    background-color: #545559;
}
.section3__caliban{
    text-align-last: center;
}
.caliban{
    @include tamanio(25rem, 20rem);
    width: 20rem;
    padding-bottom: 5rem;
}

.section3__p{
    padding-top: 2rem;
    font-size: 1.5rem;
    font-family: emoji;
}

strong{
    color: black;
}
footer{
    grid-area: footer;
    background-color:#8B8073; 
}
.nocturno4{
    background-color: #404040;
}
a{
    text-decoration: none;
    color: #CCC4B7;
}
.Menu_Footer{
    text-align: center;
    align-self: center;
}
.Redes_Footer{
    align-items: center;
    justify-content: center;
}
.java{
    background-color: #636363;
    display: flex;
}
.slideThree {
margin-top: 7rem;
margin-left: 5rem;
width: 80px;
height: 26px;
background: #333;
margin: 20px auto;
position: relative;
border-radius: 50px;
box-shadow: inset 0px 1px 1px rgba(0,0,0,0.5), 0px 1px 0px rgba(255,255,255,0.2);
&:after {
    content: 'OFF';
    color: #000;
    position: absolute;
    right: 10px;
    z-index: 0;
    font: 12px/26px Arial, sans-serif;
    font-weight: bold;
    text-shadow: 1px 1px 0px rgba(255,255,255,.15);
}
&:before {
    content: 'ON';
    color: #27ae60;
    position: absolute;
    left: 10px;
    z-index: 0;
    font: 12px/26px Arial, sans-serif;
    font-weight: bold;
}
label {
    display: block;
    width: 34px;
    height: 20px;
    cursor: pointer;
    position: absolute;
    top: 3px;
    left: 3px;
    z-index: 1;
    background: #fcfff4;
    background: linear-gradient(top, #fcfff4 0%, #dfe5d7 40%, #b3bead 100%);
    border-radius: 50px;
    transition: all 0.4s ease;
    box-shadow: 0px 2px 5px 0px rgba(0,0,0,0.3);
}
input[type=checkbox] {
    visibility: hidden;
    &:checked + label {
    left: 43px;
    }
}    
}
@media only screen and (min-width:812px) and (max-width: 1290px) {
    .carrito{
        top:38rem;
        right: 1rem;
    }
    .section1__imagen {
        @include tamanio(20rem, 20rem);
    }
    .divCarrito {
        top: 34rem;
    }
}
@media only screen and (min-width:500px) and (max-width:810px) {
    .header{
        display: grid;
        grid-template-areas: 'menu buscador usuario';
        grid-template-columns: 2fr 7fr 2fr;
        background-color: #E7E2D7;
        height: 9rem;
    }
    .imagenMain{
        @include tamanio(320px, 320px);
    }
    .botones{
        grid-area: usuario;
    }
    .logo{
        display: none;
    }
    .menu-barra{
        display: none;
        li{
            border-color: black ;
            border-style: groove;
            display: block;
            color: white;
            background-color:#8B8073;
            width: 10rem;
            margin: 0;
            padding: 10px;
            position: relative;
            z-index: 3;
            a{
                text-decoration: none;
                color: white;
            }
        }
        li:hover{
            background-color: grey;
        }
    }
    #menu-barra-input:checked ~ ul {
        display: block;
    }
    #menu-hamburguesa{
        grid-area: menu;
    }
    #menu-barra-input{
        display: none;

    }
    #menu-celular {
        display: block;
        width: 2rem;
    }
    .buscador{
        grid-area: buscador;
    }
    .caliban {
        @include tamanio(15rem, 10rem);
        padding-bottom: 5rem;
    }
    .section3__texto {
        width: 20rem;
    }
    .header {
        height: 7rem;
    }
    .logo {
        height: 7rem;
        width: 7rem;
    }
    header {
        height: 7rem;
    }
    .Buscador {
        padding-top: 0;
    }
    #iniciarSesion{
        width: 7rem;
        grid-area: inicio;
    }
    #registrarse{
        width: 7rem;
        grid-area: registro;
        display: grid;
        grid-area: registro;
        justify-content: center;
    }
    .botones {
        grid-template-areas:
            'inicio'
            'registro';
        grid-auto-rows: 1fr 1fr;
        display: grid;
    }
    .section1__imagen {
        display: none;
    }
    .section1{
        height: 20rem;
    }

    .divCarrito {
        top: 34rem;
    }
}

@media only screen and (max-width:370px) {
    .header{
        grid-template-areas: 'menu buscador';
        height: 6.2rem;
    }
    .Banderas{
        grid-template-columns: 20% 20% 20% 20% 20%;
    }
    .caliban {
        height: 20rem;
        width: 15rem;
        padding-bottom: 5rem;
    }
    .botones{
        height: 7rem;
    }
    .section1__imagen {
        display: none;
    }
    .luces {
        width: 8rem;
        height: 5rem;
    }
    .botones{
        display:none;
    }
    .imagenMain {
        
        @include tamanio(16rem, 16rem);
        margin-left: 1rem;
    }
    .textoMain{
        display: none;
    }
    .slideThree{
        top: 14rem;
        right: 7.8rem;
        position: absolute;
    }
    .section3{
        display: contents;
    }

    .menu{
        margin-top: 2rem;
    }
    .imagenUsuario {
        height: 3rem;
        width: 3rem;
    }
    .buscador__boton{
        display: none;
    }
    header{
        height: 6.2rem;
    }
    .menu-barra{
        display: none;
        li{
            border-color: black ;
            border-style: groove;
            display: block;
            color: white;
            background-color:#8B8073;
            width: 10rem;
            margin: 0;
            padding: 10px;
            position: relative;
            z-index: 3;
            a{
                text-decoration: none;
                color: white;
            }
        }
        li:hover{
            background-color: grey;
        }
    }
    #menu-barra-input:checked ~ ul {
        display: block;
    }
    #menu-hamburguesa{
        grid-area: menu;
    }
    #menu-barra-input{
        display: none;

    }
    #menu-celular {
        display: block;
        width: 2rem;
    }
    .section3__p {
        font-size: 1rem;
    }
    .logo{
        display: none;
    }
    footer{
        width: 20rem;
    }
    .logo-footer{
        display: flex;
        height: 5rem;
        width: 5rem;
        margin-top: 2rem;
    }

}
@media only screen and (min-width:375px)and (max-width:420px){
    .imagenMain{
        @include tamanio(16rem, 16rem);
        margin-left: 3rem;
    }
    .header{
        grid-template-areas: 'menu buscador';
        height: 6.2rem;
    }
    .Banderas{
        grid-template-columns: 20% 20% 20% 20% 20%;
    }
    .caliban {
        height: 20rem;
        width: 15rem;
        padding-bottom: 5rem;
    }
    .botones{
        height: 7rem;
    }
    .section1__imagen {
        display: none;
    }
    .luces {
        width: 8rem;
        height: 5rem;
    }
    .botones{
        display:none;
    }
    .textoMain{
        display: none;
    }
    .slideThree{
        top: 14rem;
        right: 9.2rem;
        position: absolute;
    }
    .section3{
        display: contents;
    }

    .menu{
        margin-top: 2rem;
    }
    .imagenUsuario {
        height: 3rem;
        width: 3rem;
    }
    .buscador__boton{
        display: none;
    }
    header{
        height: 6.2rem;
    }
    .menu-barra{
        display: none;
        li{
            border-color: black ;
            border-style: groove;
            display: block;
            color: white;
            background-color:#8B8073;
            width: 10rem;
            margin: 0;
            padding: 10px;
            position: relative;
            z-index: 3;
            a{
                text-decoration: none;
                color: white;
            }
        }
        li:hover{
            background-color: grey;
        }
    }
    #menu-barra-input:checked ~ ul {
        display: block;
    }
    #menu-hamburguesa{
        grid-area: menu;
    }
    #menu-barra-input{
        display: none;

    }
    #menu-celular {
        display: block;
        width: 2rem;
    }
    .section3__p {
        font-size: 1rem;
    }
    .logo{
        display: none;
    }

    .logo-footer{
        display: flex;
        height: 5rem;
        width: 5rem;
        margin-top: 2rem;
    }
    
}
@media only screen and (min-width:420px)and (max-width:500px){
    .imagenMain {
        height: 16rem;
        width: 16rem;
        margin-left: 4rem;
    }
    .header{
        grid-template-areas: 'menu buscador';
        height: 6.2rem;
    }
    .Banderas{
        grid-template-columns: 20% 20% 20% 20% 20%;
    }
    .caliban {
        height: 20rem;
        width: 15rem;
        padding-bottom: 5rem;
    }
    .botones{
        height: 7rem;
    }
    .section1__imagen {
        display: none;
    }
    .luces {
        width: 8rem;
        height: 5rem;
    }
    .botones{
        display:none;
    }
    .textoMain{
        display: none;
    }
    .slideThree{
        top: 14rem;
        right: 11rem;
        position: absolute;
    }
    .section3{
        display: contents;
    }

    .menu{
        margin-top: 2rem;
    }
    .imagenUsuario {
        height: 3rem;
        width: 3rem;
    }
    .buscador__boton{
        display: none;
    }
    header{
        height: 6.2rem;
    }
    .menu-barra{
        display: none;
        li{
            border-color: black ;
            border-style: groove;
            display: block;
            color: white;
            background-color:#8B8073;
            width: 10rem;
            margin: 0;
            padding: 10px;
            position: relative;
            z-index: 3;
            a{
                text-decoration: none;
                color: white;
            }
        }
        li:hover{
            background-color: grey;
        }
    }
    #menu-barra-input:checked ~ ul {
        display: block;
    }
    #menu-hamburguesa{
        grid-area: menu;
    }
    #menu-barra-input{
        display: none;

    }
    #menu-celular {
        display: block;
        width: 2rem;
    }
    .section3__p {
        font-size: 1rem;
    }
    .logo{
        display: none;
    }

    .logo-footer{
        display: flex;
        height: 5rem;
        width: 5rem;
        margin-top: 2rem;
    }

}